<div class="pagination">
    <a class="left" href="{{ file_src }}" target="_blank">
        <div class="block left">
            <div class="thumb"></div>
            <div class="content">
                <div class="title">{{ file_caption }}</div>
            </div>
        </div>
    </a>
</div>