<div class="pagination">
    <a class="left" href="{{ link_url }}">
        <div class="block left">
            <div class="thumb"></div>
            <div class="content">
                <div class="title">{{ link_title }}</div>
                <div class="description">{{ link_description }}</div>
            </div>
        </div>
    </a>
</div>