<meta charset="utf-8">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">

{%- if page.title -%}
<title>{{ page.title | escape }}</title>
{%- else -%}
<title>{{ site.title | escape }}</title>
{%- endif -%}

<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/syntax.css">
<script type="text/javascript" src="/assets/js/jquery-3.6.0.js"></script>
<script type="text/javascript" src="/assets/js/jquery-ui.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>
