{% if site.data.potion.is_show_pagination? %}
<div class="pagination">
    {% if page.potion.has_prev? %}
    <a href="{{ page.potion.prev_page.url }}">
        <div class="block left">
            <div class="block_thumb"></div>
            <div class="block_content">
                <div class="block_title">{{ page.potion.prev_page.title }}</div>
                <div class="block_description">{{ page.potion.prev_page.description }}</div>
            </div>
        </div>
    </a>
    {% endif %}
    {% if page.potion.has_next? %}
    <a href="{{ page.potion.next_page.url }}">
        <div class="block right">
            <div class="block_content">
                <div class="block_title">{{ page.potion.next_page.title }}</div>
                <div class="block_description">{{ page.potion.next_page.description }}</div>
            </div>
            <div class="block_thumb"></div>
        </div>
    </a>
    {% endif %}
</div>
{% endif %}