<div class="pagination pagination--file">
    <a class="left" href="{{ file_src }}" target="_blank" data-skip-href-to-absolute>
        <div class="block">
            <div class="icon icon--attach"></div>
            <div class="cont">
                <div class="cont-tit">{{ file_caption }}</div>
                <div class="cont-type">image</div>
                <div class="cont-volume">29KB</div>
            </div>
        </div>
    </a>
</div>
