{{ link_description }}
<div class="pagination pagination--link">
    <a href="{{ link_url }}" class="left">
        <div class="block">
            <div class="icon icon--link"></div>
            <div class="cont">
                <div class="cont-tit">{{ link_title }}</div>
                <div class="cont-desc">{{ link_description }}</div>
            </div>
        </div>
    </a>
</div>
