<h1>{{ page.title }}</h1>
{{ description }}
{% if page.meta.empty_content? %}
<div>
    {% for child in page.meta.child_pages %}
    <div><a href="{{ child.url }}">{{ child.title }}</a></div>
    {% endfor %}
</div>
{% else %}
<div>
    {{ content | markdownify }}
</div>
{% endif %}
{% if page.meta.has_nav? %}
<div>
    <div style="width:50%;float:left;">
        {% if page.meta.has_prev? %}
        <p>{{ page.meta.prev.title }}</p>
        {% endif %}
    </div>
    <div style="width:50%;float:right;">
        {% if page.meta.has_next? %}
        <p>{{ page.meta.next.title }}</p>
        {% endif %}
    </div>
</div>
{% endif %}