{% for collection in site.collections %}
<p>{{collection.relative_directory}}</p>
<p>{{collection.files}}</p>
{% for _collection in collection %}
<p>{{_collection}}</p>
{% endfor %}
{% endfor %}

{% for section in site.sections %}
<ul>{{ section.path }} | {{ section.ext }} | {{ section.slug }}
    {% for _section in section %}
    <li>{{ _section }}</li>
    {% endfor %}
</ul>
{% endfor %}

{% for section in site.sections %}
<p>
    <a href="{{ section.url }}">
        {{ section.title }}
    </a>
</p>
{% endfor %}

{% for collection in site.collections %}
<h2>Items from {{ collection.label }}</h2>
<ul>
    {% for item in site[collection.label] %}
    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
</ul>
{% endfor %}
{% for page in site.pages %}
<ul>
    {% unless page.exclude %}
    <li>{{ page.title }} {{ page.name }} {{page.url}}</li>
    {% endunless %}
</ul>
{% endfor %}
