<ul class="nav_menu">
    {% for potion in potions %}
        <li>
            <div class="nav_link fold {% if potion.has_child? %} has_child {% endif %}">
                <a href="{{ potion.page.url }}" class="nav_href">{{ potion.page.data.title }}</a>
                <span class="nav_unfold">+</span>
                <span class="nav_fold">-</span>
            </div>
            {% if potion.has_child? %}
                {% assign potions = potion.children %}
                {% pages potions = "potions" %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
